
  <ul class="accomplishments cards">
    <li>
      <a href="" class="card">
        <iframe
          width="315"
          height="560"
          src="https://www.youtube.com/embed/ws7VMNPIoRM"
          title="Balcony yoga meditation 🌿🧘‍♂️"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
        <div class="card__overlay">
          <div class="card__header">
            <img class="card__thumb" src="../../assets/evolve-shaun.JPG" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Shaun</h3>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">Woke up bright and early for some balcony yoga</p>
        </div>
      </a>
    </li>
  </ul>
