<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
        <div class="card dailyfoodlog">
          <div class="card-header">
            <h2>Daily food log</h2>
          </div>
          <div class="card-body" style="min-height: 150px;max-height: auto;">
            <ul>
              <li *ngFor = "let line of goalData let i = index">
                  {{line.goal}}
              </li>
            </ul>
              <input type='text'[(ngModel)]='goal' placeholder='What did you eat?'>
              <p><button type="button" class="btn btn-info" (click)='handleGoalClick()'>Log it</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card nutritiontips">
          <div class="card-header">
            <h3 class="h3">Nutrition Tip of the Day</h3>
          </div>
          <div class="card-body" style="max-width: 400px;">
            <h5>Make today count</h5>
          </div>
          </div>
          <p></p>
          <div class="card watermeter">
            <div class="card-header">
              <h3 class="h3">Water Meter</h3>
            </div>
            <div class="card-body" style="max-width: 410px;">
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-cup-straw"></i>
              <i class="bi bi-plus-square"></i>
              </div>
            </div>
      </div>
      <div class="col-md-4">
        <div class="card advert">
          <div class="card-header">
            <h2>Advertisements</h2>
          </div>
          <div class="card-body" style="width: 365px;">
            <img src="../../assets/ad.png" width="365px" alt="advertisement for tiffin service" id="ad">
          </div>
        </div>
      </div>
  </div>
<div>
