<nav class="nav navbar navbar-expand-lg navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../assets/elogo2.png" alt="" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/foods">Foods</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/library">Library</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>

<!--
<nav class="navbar navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Copyright 2022 Evolve Corp</a>
  </div>
</nav>
-->
