<nav class="navbar navbar-expand-lg navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/blog">
      <img src="../assets/elogo2.png" alt="" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/portal">Client Portal</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Today
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="/tasks">Tasks</a></li>
            <li><a class="dropdown-item" routerLink="/projectmanagement">Project Management</a></li>
            <li><a class="dropdown-item" routerLink="/crm">CRM</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/intranet">Intranet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/uni">University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/support">Support</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<nav class="navbar navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Copyright 2022 Evolve Corp</a>
  </div>
</nav>
