nav {
  background-color: #0F6E56!important;
  color: rgb(255, 255, 255);
}

.navtext {
  font-size: 14px;
  padding-left: 40px;
  color: rgb(255, 255, 255);
  text-decoration: none;

}

canvas {
  color: white;
}

main {
  background-color: beige;
  color: brown;
}
