<nav class="nav navbar navbar-expand-lg navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <h1 class="elogo">E V O L V E</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">D A S H B O A R D</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/foods">F O O D L O G</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
              routerLink="/vids"
              style="cursor: pointer;"
              data-bs-toggle="modal"
              data-bs-target="#subModal">V I D S T R E A M</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
              routerLink="/coaching"
              style="cursor: pointer;"
              data-bs-toggle="modal"
              data-bs-target="#subModal">C O A C H I N G</a>
          </li>
        <li class="nav-item d-flex">
          <a class="nav-link active" aria-current="page" routerLink="/settings">
            <i class="bi bi-gear"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>

<div class="modal fade" id="subModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light text-dark border-secondary">
      <div class="modal-header">
        <h5 class="modal-title">Upgrade to EVOLVE Pro</h5>
        <button type="button" class="btn-close btn-close-blue" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Unlock our entire catalogue of fitness videos with a premium membership</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-100" style="background-color:brown">View Plans</button>
      </div>
    </div>
  </div>
</div>

<!--
<nav class="navbar navbar-light bg-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Copyright 2026 Evolve Fitness Platform</a>
  </div>
</nav>
-->
