
  <ul class="accomplishments cards">
    <li>
      <a href="" class="card">
        <img src="../../assets/chart.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <img class="card__thumb" src="../../assets/evolve-shaun.JPG" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Shaun</h3>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">I finished a race today. Happy with my performance</p>
        </div>
      </a>
    </li>
  </ul>
