@import "~bootstrap-icons/font/bootstrap-icons.css";

body, th, ul {
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  font-weight: 200;
  text-transform: uppercase;
}

body {
  background:hsl(187, 30%, 34%);
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
}

table {
   overflow-y:scroll;
   height: 200px;
   display:block;
}

/*** Color Changing Background Gradient

html, body {
  width: 100%;
  height:100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*** Color Changing Background Gradient ***/

.elogo {
  line-height: 40px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(29, 29, 29)!important;
}

.card {
  border: 10px solid rgb(53, 88, 101);
  opacity: 0.75;
  color: #55787c;
  background-color: rgb(234, 224, 236)!important;
}

.advert {
  color: #55787c;
  text-align: center;
  max-width: 450px;
  max-height: 300px;
  background-color: rgb(43, 10, 6)!important;
}
