<div class="container-fluid">

    <p>
    <div class="row">

        <div class="col-md-3">
          <div class="card card__overlay">
          <div class="card-header">
            <h5 class="h5">Enter Today's Weight</h5>
          </div>
          <div class="card-body" style="min-height: 120px;max-height: 140px;">
            <input type='text'[(ngModel)]='date' placeholder='Date'>
            <input type='text'[(ngModel)]='weight' placeholder="Today's Weight">
            <p></p>
            <button type="button" class="btn btn-info" (click)='handleClick()'>Add</button>
          </div>
          </div>

          <p></p>

          <div class="card">
            <div class="card-header">
              <h5>Weight Data</h5>
            </div>
            <div class="card-body" style="min-height: 150px;max-height: 150px;">
              Start:
              <button type="button" class="btn btn-info">{{ start }}</button>
              <p><p>Current:
              <button type="button" class="btn btn-warning">{{ current }}</button>
              Target:
              <button type="button" class="btn btn-success">{{ target }}</button>
              <p><p>Lost so far:
              <button type="button" class="btn btn-danger">{{ lost }}</button>
              Left to lose:
              <button type="button" class="btn btn-danger">{{ lose }}</button>
              <!--<p><p>Calories left to burn:
              <button type="button" class="btn btn-info">{{ calories | number }}</button>
              Calories burned so far:
              <button type="button" class="btn btn-success">{{ progress | number }}</button>
              <p>Miles to Run:
              <button type="button" class="btn btn-info">{{ miles | number }}</button>
              Number of 5-Mile Runs:
              <button type="button" class="btn btn-primary">{{ fiveruns }}</button>
              Number of 10-Mile Runs:
              <button type="button" class="btn btn-primary">{{ tenruns }}</button>
              <p>5 runs per week will take this many weeks:
              <button type="button" class="btn btn-success">{{ weeks }}</button>
              months:
              <button type="button" class="btn btn-info">{{ months }}</button>
              years:
              <button type="button" class="btn btn-primary">{{ years }}</button> -->
            </div>
          </div>

          <p></p>

          <div class="card advert">
            <div class="card-header">
              <h5 class="h5">Advertisement</h5>
            </div>
            <div class="card-body" style="min-height: 150px;max-height: 100px;">
              <img src="../../assets/ad.png" width="240px" alt="advertisement for tiffin service" id="ad">
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h5>Weight Grid</h5>
            </div>
              <div class="card-body" style="min-height: 300px;max-height: 450px;">
                <table class="table table-striped table-sm" style="max-height: 400px;">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Weight</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                <ul>
                  <li *ngFor = "let line of weightData let i = index">
                      {{line.date}}
                  </li>
                </ul>
                      </td>
                      <td>
                  <ul>
                  <li *ngFor = "let line of weightData let i = index">
                      {{line.weight}}
                  </li>
                </ul>
                      </td>
                      <td>
                      <div *ngFor = "let line of weightData let i = index">
                          <span (click)='remove(i)'><i class="bi bi-trash"></i></span>
                      </div>
                    </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <p></p>

          <div class="card">
            <div class="card-header">
              <h5 class="h5">Fitness Tip of the Day</h5>
            </div>
            <div class="card-body" style="min-height: 150px;max-height: 100px;">
              <h5>Don't give up on your dreams</h5>
            </div>
            </div>
        </div>


        <div class="col-lg-5">
          <div class="card">
            <div class="card-header">
              <h5 class="h5">Weight Chart</h5>
            </div>
            <div class="card-body" style="min-height: 300px;max-height: 700px;">
              <p><div echarts [options]="options" class="demo-chart"></div>
            </div>
            </div>
          </div>
    </div>
<p>
  <div class="row">



          <div class="col-md-3">

          </div>


      <div class="col-md-4">

      </div>

      <div class="col-md-5">
        <!--<div class="card">
        <div class="card-header">
          <h5>Food List</h5>
        </div>
        <div class="card-body" style="min-height: 150px;max-height: 200px;">
          <ul>
            <li *ngFor = "let line of goalData let i = index">
                {{line.goal}}
            </li>
          </ul>
            <input type='text'[(ngModel)]='goal' placeholder='Goal'>
            <p><button type="button" class="btn btn-info" (click)='handleGoalClick()'>Add</button>
        </div>
        </div>-->
        </div>
      </div>

</div>
